<div class="layout-container">

  <!-- SIDEBAR -->

  <aside class="sidebar">

    <div>

      <h2 class="logo">
        Project Manager
      </h2>

      <nav class="menu">

        <a routerLink="/dashboard" class="menu-item">
          📊 Dashboard
        </a>

        <a routerLink="/projets" class="menu-item">
          📁 Projets
        </a>

        <a routerLink="/employes" class="menu-item">
          👨‍💼 Employés
        </a>

        <a routerLink="/taches" class="menu-item">
          ✅ Tâches
        </a>
         <a routerLink="/ressources" class="menu-item">
          💻 Ressources
        </a>

      </nav>

    </div>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>

  </aside>

  <!-- MAIN CONTENT -->

  <main class="main-content">

    <router-outlet></router-outlet>

  </main>

</div>